@viewport {
    zoom: 1.0;
    width: device-width;
}

#about h1{
    font-family:Playfair Display;
    font-size:3em;
}
#about {
    padding:1em 7em;
    display:grid;
    grid-template-columns:50% 50%;
    width:100%;
}

#about-img {
    width:100%;
    margin:auto;
}
#about-img img{
    width:100%;
    padding:0 2em;
}

#about-text{
    padding:0 2em;
    width:100%;
    margin:auto;
}

@media only screen and (max-width: 1085px) {
    /* about */
    #about {
        text-align: center;
        width: 100%;
        display: block !important;
        padding:3em;
    }
    #about-text {
        padding: 3em 6em;
        text-align: left;
    }
    #about img {
        margin: auto;
        width: 50%;
    }
}