@viewport {
    zoom: 1.0;
    width: device-width;
}

#about h1{
    font-size:1.5em;
}
#about {
    padding:1em 7em;
    display:grid;
    grid-template-columns:50% 50%;
    width:100%;
}

#about-img {
    width:100%;
    margin:auto;
}
#about-img img{
    width:100%;
    padding:0 2em;
}

#about-text{
    padding:0 2em;
    width:100%;
    margin:auto;
}