@viewport {
    zoom: 1.0;
    width: device-width;
}

#about h1{
    font-family:Playfair Display;
    font-size:2em;
}
#about {
    padding:1em 18em;
    display:grid;
    width:100%;
}

#about-img {
    width:100%;
    margin:auto;
}
#about-img img{
    width:100%;
    padding:1em 0;
}

#about-content{
    padding:0 2em;
    width:100%;
    margin:auto;
}

@media only screen and (max-width: 1085px) {
    /* about */
    #about {
        padding:1em 14em;
    }
}

@media only screen and (max-width: 900px) {
    /* about */
    #about {
        padding:1em 10em;
    }
}