@viewport {
    zoom: 1.0;
    width: device-width;
}

/* ///// Fonts ///// */
@font-face {
    font-family: Andale Mono;
    src: url('../fonts/Andale Mono.ttf');
}

@font-face {
    font-family: Athelas Regular;
    src: url('../fonts/Athelas-Regular.ttf');
}

@font-face {
    font-family: Athelas Bold;
    font-weight: bold;
    src: url('../Athelas-Bold.ttf');
}

/* ///// Nav Buttons ///// */

.btn-active {
    color: rgb(156, 91, 91) !important;
}

ul {
    list-style-type: none;
    padding: 0;
}

#nav-side-buttons {
    font-size: 2em;
    line-height: .75em;
    display: grid;
    align-items: center;
    position: fixed;
    height: 100vh;
    z-index: 1;
    top: 0;
    right: .5em;
    float: right;
}

#nav-side-buttons a {
    text-decoration: none;
    color: rgb(163, 162, 162);
}

#nav-side-buttons a:hover {
    text-decoration: none;
    color: rgb(54, 54, 54);
}

#nav-side-buttons a:visited {
    text-decoration: none;
    font-size: 3em;
}

/* ///// Header ///// */
#header-container-wrapper{
    position:relative;
    height:100vh;
    overflow:hidden;
}
#header-container {
    margin-top: 1px;
    padding: 3em;
    height: 100vh;
    display: grid;
    grid-template-rows: 25% 50% 25%;
}

#header-container h2 {
    font-size: 1.25em;
}

#header-container a {
    cursor:pointer;
    position: relative;
    text-decoration: none;
    color: rgb(172, 172, 172);
}

#header-container a:hover {
    color: rgb(126, 126, 126);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#header-container a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(126, 126, 126);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#header-container a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* for center */
#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-text {
    padding: 5%;
    background:rbg(255,255,255,0.3);
}

#header-text-small{
    font-size:.7em;
}

#header-pages {
    text-align: right;
    align-self: end;
}

/* funky */
.funky {
    color:rgb(49, 97, 86);
}
.funky:hover{
    color:rgb(70, 148, 131);
    cursor:pointer;
    text-decoration:line-through;
    transition-duration: 0.5s;
}

#header-funky img{
    position:absolute;
}

#funky-baby{
    left:20%;
    top:25%;
    width:40%;
    display:none;
}

#funky-1{
    width:18%;
    right:15%;
    top:25%;
    display:none;
}

#funky-2{
    width:33%;
    left: 40%;
    bottom:25%;
    display:none;
}

/* remove text link */
#funky-text-3 a{
    text-decoration: none !important;
    color:rgb(49, 97, 86);
}
#funky-text-3 a:hover{
    color:rgb(70, 148, 131);
}
#funky-text-3 a:hover:before {
    visibility: hidden;
}

/* ///// Good Design ///// */

#good-design{
    height:75vh;
    width: 100%;

    line-height: 1.6;

    /* center */
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align:center;

    background-color:rgb(241, 241, 241);
}

#good-design-text{
    padding:1em 0;
    width:45%;
}

/* ///// Projects : ENCASING ///// */

#projects {
    max-width: 100%;
    overflow:hidden;
}

.showcase-title{
    text-align:center;
    padding:3em 3em;
    height:20vh;
}

.showcase{
    height:70vh;
    text-align:center;
    width:100%;

    overflow-x: auto !important; /* allow scroll */
    overflow-y: hidden !important;
    margin:0 !important; /* remove padding on lfet and right */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* remove scrollbar */
.showcase::-webkit-scrollbar{
    display: none;
}
#showcase-1, #showcase-2{
    background-color:rgb(230, 228, 228);
    height:100vh;
    
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;

}
/* project carousel */
.projects-slide{
    display: flex;
    min-width:100%;
}


/* project cards */
.project-snippet-content {
    margin: auto;
    min-width:100%;
    padding: 1.5em;
}


/* projects themselves */


/* ///// Projects ///// */

#project-1, #project-2, #project-3, #project-4, #project-5  {
    display: grid;
}
/*
#project-1, #project-3, #project-5{
    background: rgb(224, 224, 224);
}

#project-2, #project-4{
    background: rgb(240, 240, 240);
}
*/

#projects img{
    width:40%;
}

#projects button {
    cursor: pointer;
    width: 150px;
    border: none;
    background: #9C5B5B;
    padding: 8px;
    font-family: 'Andale Mono', serif;
    font-size: .75em;
    letter-spacing: .2em;
    color: white;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#projects button:hover {
    background-color: rgb(102, 58, 58);
    color: rgb(151, 150, 148);
}

#projects button:active {
    box-shadow: inset 0 0 3px white;
}

/* ///// Contact Form ///// */

#contact {
    text-align: center;
    width: 100%;
    height:100vh;
    display: grid;
}

.contact-content {
    width: 40%;
    margin: auto;
}

#contact button {
    cursor: pointer;
    width: 150px;
    border: none;
    background: rgb(70, 148, 131);
    padding: 8px;
    font-family: 'Andale Mono', serif;
    font-size: .75em;
    letter-spacing: .2em;
    color: white;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#contact button:hover {
    background-color: #21433B;
    color: rgb(151, 150, 148);
}

#contact button:active {
    box-shadow: inset 0 0 3px white;
}

#contact-form {
    width: 100%;
    height:50%;
}

fieldset {
    border: none;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="submit"], #contact-form textarea {
    font-family: 'Athelas Regular', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 5px;
    width: 100%;
    border: 1px solid #424242;
}

#contact-form input[type="text"]:hover, #contact-form input[type="email"]:hover, #contact-form input[type="submit"]:hover, #contact-form textarea:hover {
    -webkit-transition: border-color 0.5s ease-in-out;
    -moz-transition: border-color 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out;
    border: 1px solid black;
}

#message {
    height: 150px;
}

input::placeholder {
    font-size: .75em
}

textarea::placeholder {
    font-size: .75em;
}