html,body{
    height: 100%; /* imp for scroll snap */
    overflow-y:scroll;
}

#topHomeContainer {
    position: fixed;
    right:0;
    left:0;
    top:0;
    text-align:center;
    bottom: auto;
    z-index:9997;
    
    padding-top:.4em;
    
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-in-out .1s;
    -moz-transition: all 0.3s ease-in-out .1s;
    transition: all 0.3s ease-in-out .1s;
}

#topHomeContainer:hover{
    background-color: #8458578c;
}

#topHomeContainer:hover h2{
    color:white !important;
} 
#topHomeContainer a{
    text-decoration:none;
}

#topHome h2{
    color: #a5a5a5;
    opacity: .75;
    line-height: 2.2;
    
    -webkit-transition: all 0.3s ease-in-out .1s;
    -moz-transition: all 0.3s ease-in-out .1s;
    transition: all 0.3s ease-in-out .1s;
}


/* Hero */
#hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
}

.heroContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

/* Hero Styling */
.heroContainer #heroOne {
    z-index: 9999;
    position: absolute;
    background-color: #f5f5f5;
    top: 0;
    left: 0;
}

.heroContainer #heroTwo {
    z-index: 9998;
    position: absolute;
    /* background-color: #362F2F; */
    background-color: #845857;
    top: 0;
    left: 0;
}

#heroOne, #heroTwo {
    top: 0;
    left: 0;
    padding: 2em;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
}

#heroOneContent {
    max-width: 625px;
}

#heroTwoContent {
    max-width: 740px;
}

#heroTwo p {
    color: #E9E9E9 !important;
}

#heroTwo h1 {
    color: #E9E9E9 !important;
}

#heroTwo h2 {
    color: #E9E9E9 !important;
}

/* Hero Projects Link */

#heroOneProjects, #heroTwoProjects {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.heroProjects a{
    text-decoration: none !important;
}
.heroDisclaimer a{
    text-decoration: none !important;
}
#heroTwoProjects a {
    color: #b71212b5;
}

#heroOneProjects a:hover:before {
    -webkit-transform: translate(0) scaleX(1);
    transform: translate(0) scaleX(1);
}
#heroOneProjects a:before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #b71212b5;
    bottom: 0;
    width: 100%;
    -webkit-transform: translate(25%) scaleX(.5);
    transform: translate(25%) scaleX(.5);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#heroTwoProjects a {
    color: #ffc24f;
}

#heroTwoProjects a:hover {
    color: #d0a047;
}
#heroTwoProjects a:hover:before {
    -webkit-transform: translate(0) scaleX(1);
    transform: translate(0) scaleX(1);
}

#heroTwoProjects a:before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #ffc24f;
    bottom: 0;
    width: 100%;
    -webkit-transform: translate(25%) scaleX(.5);
    transform: translate(25%) scaleX(.5);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* Hero Funky */

.funkyItem {
    color: #b71212b5;
    cursor: pointer;
    border-bottom: 3px solid currentColor;
    display: inline-block;
}

.funkyItem:hover {
    opacity: 0.75;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#funkyOne {
    max-width:500px;
    position:absolute;
    padding-top:0;
    top: 3.5em;
    left:38vw;
    z-index:99999;
    display:none;
    

    -webkit-transition: none !important;
    transition: none !important;
}

#funkyTwo {
    max-width:250px;
    position:absolute;
    padding-bottom:1em;
    bottom: 4em;
    left:4em;
    z-index:99998;
    display:none;

    -webkit-transition: none !important;
    transition: none !important;
}

#funkyThree {
    max-width:250px;
    position:absolute;
    padding-bottom:1em;
    bottom: 4em;
    left:70vw;
    z-index:99999;
    display:none;

    -webkit-transition: none !important;
    transition: none !important;
}

/* Hero Disclaimer */
#heroOneNext, #heroTwoBack {
    width: fit-content;
    position: relative;
}

#heroOne a {
    color: #b71212b5;
    width: auto;
}

#heroOneNext a:before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #b71212b5;
    bottom: 0;
    width: 100%;
    -webkit-transform: translate(-25%) scaleX(.5);
    transform: translate(-25%) scaleX(.5);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#heroOneNext a:hover:before {
    -webkit-transform: translate(0) scaleX(1);
    transform: translate(0) scaleX(1);
}

#heroTwo a {
    color: #ffc24f !important;
    width: auto;
}

#heroTwo a:hover {
    color: #d0a047 !important;
}

#heroTwoBack a:before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #ffc24f;
    bottom: 0;
    width: 100%;
    -webkit-transform: translate(-25%) scaleX(.5);
    transform: translate(-25%) scaleX(.5);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#heroTwoBack a:hover:before {
    -webkit-transform: translate(0) scaleX(1);
    opacity: 0.75;
    transform: translate(0) scaleX(1);
}

/* Projects */
#homeContent{
    height:100% !important;
}
#projects {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

.projectContainer {
    position: relative;
    width: 100vw;
    height: 85vh;
    scroll-snap-align: center;
}

.projectContainer .container {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    border-radius: 10px !important;
    overflow: hidden;

    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.projectContainer img{
    filter: drop-shadow(0px 5px 8px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(0px 5px 8px rgba(0,0,0,0.5));


    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.projectContainer img:hover{

    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    filter: drop-shadow(0px 5px 15px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(0px 5px 15px rgba(0,0,0,0.5));
}

.projectImgMobile img {
    width: 100%;
    max-width: 200px;
}

.projectImgDesktop img {
    max-width: 550px; /*675*/
}

.projectContainer h5{
    font-size:12px;
    color: white;
    background-color:#ccc3c3;
    width:fit-content;
    padding:.2em .8em .1em .8em;
    border-radius:.3em;
}

/* About */
#about {
    scroll-snap-align: start;
    position: relative;
    height: auto;
    width: 100vw;
    background-color: #845857;

    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
}

#about h1{
    color: #E9E9E9;
}
#about h3{
    color: #E9E9E9;
}
#about p{
    color: #E9E9E9;
}
#about a{
    color: #ffc24f;
    text-decoration: underline;
}
#about a:hover{
    color: #d0a047;
}
/* Media Queries */

@media only screen and (max-width: 768px) {
    .projectImgDesktop img {
        width: 500px;
    }

    #aboutImg img {
        max-width: 350px !important;
    }

    .projectContainer {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
}

@media only screen and (max-width: 576px) {
    #funkyOne{
        left:0;
        top:.5em;
    }
    #funkyThree{
        left:35vw;
    }

    .projectContainer h5{
        margin: auto auto 1em auto;
    }
    .projectImgDesktop img {
        width: 100%;
        max-width: 250px
    }
    .projectImgMobile img {
        width: 100%;
        max-width: 150px;
    }
    .projectContainer .container {
        background-color: #FFFFFF !important;
        border-radius: 0px !important;
        overflow: hidden;
    }
}