@viewport {
    zoom: 1.0;
    width: device-width;
}

/* ///// Fonts ///// */

@font-face {
    font-family: Andale Mono;
    src: url('../fonts/Andale Mono.ttf');
}

@font-face {
    font-family: Athelas Regular;
    src: url('../fonts/Athelas-Regular.ttf');
}

@font-face {
    font-family: Athelas Bold;
    font-weight: bold;
    src: url('../Athelas-Bold.ttf');
}

html, body {
    /* height: 100%;
 overflow-x:hidden;
 */
    position: relative;
}

/* ///// Header ///// */

#header-container-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#header-container {
    padding: 3em;
    height: 100vh;
}

#header {
    /* for center */
    width: 100%;
    height: 95%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Pages */

#header-pages {
    text-align: center;
    float: right;
}

/* Links */

#header-pages a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: rgb(172, 172, 172);
}

#header-pages a:hover {
    color: rgb(126, 126, 126);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#header-pages a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(126, 126, 126);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#header-pages a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Text */

#header-text {
    width: 55%;
    padding: 5%;
    margin-left:40%;
}

#header-title {
    width: 100%;
}

#header-paragraph {
    width: 95%;
}

#header-scroll {
    font-size: 2em;
    text-align: center;
    margin-top: 3em;
}

#header-scroll a {
    text-decoration: none !important;
    color: #FDB42B;
}

#header-scroll a:hover {
    text-decoration: none !important;
    color: #D69C2F;
}

/* funky */

.funky {
    color: #FFAF00;
}

.funky:hover {
    color: #FFBC45;
    cursor: pointer;
    transition-duration: 0.5s;
}

#header-funky img {
    position: absolute;
}

#funky-1 {
    width: 18%;
    right: 15%;
    top: 25%;
    display: none;
}

#funky-2 {
    width: 33%;
    left: 40%;
    bottom: 25%;
    display: none;
}

/* line */
#header-line{
    width: 6px;
    height: 80vh;
    position: absolute;
    background-color: rgba(255, 174, 0);

    margin-top: -40vh;
    left: 15%;
    z-index: 99;
}

#header-circle{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    background: rgba(255, 174, 0);
    right: 0;
    left:-380%;
    margin: 0 auto;
    border-radius: 100%;
    top: 36.8vh;
}


/* ///// Back To Home ///// */

#back {
    overflow: hidden;
    z-index: 99999;
    position: fixed;
    display: none;
    width:100px;
    right:0;
    /* background:rgb(255, 255, 255, 0.25); */
}

#back h4 {
    padding: .5em;
    text-align:right;
    font-weight:700;
}

#back a {
    color: #FDB42B;
    cursor: pointer;
}

#back a:hover {
    color: #D69C2F;
    transition-duration: 0.5s;
}

/* TOP */
#category {
    display:none;
    position: fixed;
    z-index:999;
    top:0;
    width:100%;
}
#category ul {
    text-align: center;
    padding: .9em 0em;
    list-style-type: none;
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 3em;
    height: 15vh;
}

#category li {
    display: inline;
    opacity: 0.3;
}

#category .active {
    -webkit-transition: all 1s ease-in-out 0s;

    opacity: 1;
}

#category a{
    color:#929292;
}
#category a:hover{
    color:#5e5e5e;
    transition-duration: 0.5s;

}

/* ///// PROJECTS ///// */

#projects {
    height: 100%;
    max-width:100%;
}

#projects-container {
    width: 100%;
}


/* PROJECT CONTENT */

.project-content {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding:2em;
}

.project-content .project-image {
    align-items: center;
    justify-self: center;
    padding:1em;
}

.project-image img{
    width:100%;
}

.project-content .project-snippet{
    padding:2em;
    width:80%;
}

.project-snippet-bg{
    background-color: #F9F9F3;
    width: 70%;
    height: 70%;
    right: 5%;
    margin-top: 6.5%;
    position: absolute;
    z-index: -1;
}

/* mobile projects */
.mobileproject img {
    max-width:200px;
    width:100%;
}
.mobileproject .project-snippet-bg{
    width: 60%;
    height: 70%;
}
.mobileproject .project-image{
    justify-self:end;
    margin-right:10%;
}
