/* normal screen */
@media only screen and (max-width : 480px) {
    #projects p, #contact p{
        font-size:1em;
    }
    #nav-top h2{
        font-size:1em;
    }
    /* funky */
    #funky-baby{
        top:20%;
        left:23%;
    }
    #funky-2{
        bottom:33%;
    }
    
     /* projects */
     #project-container{
        padding: 0 1em;
    }
    #project p, ul{
        font-size:.8em;
    }
    #project h1{
        font-size:1.5em;
    }
    #project h2{
        font-size:1.1em;
    }
    #project h3{
        font-size:.8em;
    }
    #project h4{
        font-size:.8em;
    }
}