/* normal screen */
@media only screen and (max-width : 480px) {
    /* header text */
    #header-title h2, #header-pages h2{
        text-align:center;
        font-size:1em;
    }
    #header-title, #header-pages{
        padding:3em;
    }
    #projects p, #contact p{
        font-size:1em;
    }

    /* project */
    #project-container{
        padding: 0 2em;
    }

}