/* normal screen */

@media only screen and (max-width: 768px) {
    /* Fonts */
    h1 { /* Title */
        font-size: 2em;
    }
    h4 { /* Large paragraph */
        font-size: 1.25em;
    }
    /* Home - Header */
    #header-container {
        align-items: center;
    }
    #header-scroll {
        margin-top: 2em;
    }
    #header-text {
        width: 80%;
    }
    /* Home - Circles */
    #circle1{
        width:25vh;
        height:25vh;
    }
    #circle2{
        width:10vh;
        height:10vh;
    }
    /* funky */
    #funky-1 {
        width: 20%;
        right: 10%;
        top: 10%;
    }
    #funky-2 {
        width: 30%;
        left: 20%;
        bottom: 15%;
    }
    #funky-3 {
        width: 30%;
    }
    /* Home - Projects */
    #project {
        max-width: 90%;
    }


    .project-content-item{
        padding:3em 0;
        width:80%;
        margin:auto;
    }
    .project-content .project-snippet {
        margin-right: 0;
        width: 100%;
    }
    .project-snippet-bg {
        width: 40% !important;
        height: 80vh !important;
        right: 0;
        margin-top: 0;
        left: 30%;
    }
    .project-content {
        grid-template-columns: none;
        text-align: center;
        padding: 5em 4em;
    }
    .project-image {
        transform: none !important;
    }
    .mobileproject .project-content {
        grid-template-columns: none !important;
        text-align: center;
        padding: 5em 4em;
    }
    .mobileproject .project-image {
        text-align: center;
        transform: none !important;
        position: relative;
        margin: 0;
        justify-self: center;
    }
    .mobileproject img {
        max-width: 150px;
        width: 100%;
    }
    /* Home - Category */
    #category ul {
        font-size: 2.5em;
    }

    /* Footer */
    #footer-cols{
        grid-template-columns: .5fr .25fr .25fr;
    }
    /* About */
    #about {
        text-align: center;
        width: 100%;
        padding: 2em;
    }
    #about-text {
        text-align: left;
    }

    /* Projects */
    #project-container{
        padding:0;
    }

        /* Header */
        #project-header {
            display:block;
            margin:auto;
        }
        #header-img{
            padding:2em;
            max-width:80%;
            margin:auto;
        }
        #project-header img{
            width:100%;
        }

        /* Header - Mobile Projects */
        .header-img-mobile{
            margin:auto;
            text-align:center;
        }
        .header-img-mobile img{
            width:50% !important;
        }
        .header-img-mobile img{
            max-height:100%;
        }

        #header-title{
            text-align:left;
        }
        #header-info {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows:auto;
        }
        /* Projects - Overview */
        #overview {
            padding:1em;
        }

    /* Venmo */
    #infoarch-breakdown {
        grid-template-columns: none;
    }
    #research-features .content-columns, .content-columns {
        display: inherit;
    }
    #research-features .content-columns {
        padding: 1em;
    }
    #design .content-columns {
        padding: 1em 2em;
        margin: 0;
    }
    #design .content-columns p {
        display: inherit;
        margin: 1em 0;
    }
    #design .content-columns h4 {
        text-align: left;
    }
    /* Uber */
    #infra-inv {
        grid-template-columns: none;
    }
    #infra-inv, #design h3 {
        font-size: 1em;
    }
}