/* normal screen */
@media only screen and (max-width : 480px) {
    #projects p, #contact p{
        font-size:1em;
    }

    #nav-top {
        padding:2em;
    }
    /* funky */
    #funky-2{
        bottom:10%;
    }
    /* home - circles */
    #circle1{
        width:20vh;
        height:20vh;
    }
    #circle2{
        width:7vh;
        height:7vh;
    }
    #circle3{
        width:5vh;
        height:5vh;
    }

    /* home - back */
    #back {
        display:none !important;
    }
    
    /* home - projects */
    .project-content .project-snippet{
        padding:0;
        justify-self:end;
        align-self:start;
    }
    .project-content .project-image{
        align-self:end;
        padding:2em 0;
    }

    /* footer */
    footer h2{
        text-align:center;
    }
    #footer-cols{
        grid-template-columns:none;
        grid-template-rows:auto;
        text-align:center;
    }
     /* projects */
     #project-container{
        padding: 0 1em;
    }
    #project p, ul{
        font-size:1em;
    }
    #project h1{
        font-size:1.5em;
    }
    #project h2{
        font-size:1.1em;
    }
    #project h3{
        font-size:.8em;
    }
    #project h4{
        font-size:.8em;
    }
}