/* smaller screen */

@viewport {
    zoom: 1.0;
    width: device-width;
}

@media only screen and (max-width: 600px) {
    /* Home - Header */
    #header-container{
        padding:3em .5em;
    }
    #header-text{
        width:100%;
        margin-left:0;
        padding:4em;
    }
    #header-scroll{
        margin-top:1.5em;
    }
    #header-line{
        display:none;
    }
    /* home funky */
    #funky-baby{
        width:280px;
    }
    #funky-1 {
        width: 150px;
        height: auto;
    }
    #funky-2 {
        width: 260px;
        bottom:25%;
    }

    #back{
        display:none !important;
    }
    
    /* Home - Category */
    #category ul{
        font-size:1.5em;
        padding-top:2em;
    }
    #category li{
        line-height:1em;
    }
    /* about */
    #about img {
        width: 70%;
    }
    #about {
        padding: 3em 1em;
        margin:0 !important;
    }
    #about-text{
        padding:3em;
    }


    /* Project */
    .summary{
        padding:3em 2em;
    }
    .summary p{
        text-align:left;
    }
        /* Venmo */
        #infoarch-img{
            grid-template-columns:none;
        }
        #infoarch img{
            padding:2em 4em;
        }

}