/* Disney */
#message {
 height: calc(100vh - 175px);
}

/* Footer */
#next {
    height: 100px;
    background-color: #F6F6F5;
}

/* Images */
img {
    width:100% !important;
}

#project img {
    border-radius: 8px;
    filter: drop-shadow(1px 2px 12px rgba(142, 142, 142, 0.25));
}

figcaption p {
    font-weight:500;
    color: #5f5f5f;
}