/* Disney */
#message {
 height: calc(100vh - 175px);
}

/* Scroll Indicator */
#scrollIndicator {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #F6F6F8;

    -webkit-transition: all 0.05s ease;
    -moz-transition: all 0.05s ease;
    transition: all 0.05s ease;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #ce6d00;
    border-radius: 0 8px 8px 0;
    width: 0%;
  }

/* Scroll Top */
#scrollTop {
    position: fixed;
    right: 6%;
    bottom: 8%;
    z-index: 99999;
    opacity: 0;

    -webkit-transition: all 0.3s ease-in-out .1s;
    -moz-transition: all 0.3s ease-in-out .1s;
    transition: all 0.3s ease-in-out .1s;
}


/* Project Title */
#projectTitle h2 {
    font-weight:400;
}

/* Footer */
#next {
    height: 100px;
    background-color: #F6F6F8;
}

/* Images */
img {
    width:100% !important;
}

#header img {
    filter: drop-shadow(1px 2px 12px rgba(142, 142, 142, 0.25));
}

#project figure img {
    border-radius: 8px;
    filter: drop-shadow(1px 2px 12px rgba(142, 142, 142, 0.25));
 
}

figure img:hover {
    cursor: zoom-in;
}

figcaption p {
    font-weight:500;
    color: #5f5f5f;
}

.imgCaption {
    color: #5f5f5f;
}

/* Lightbox */
.ekko-lightbox {
    display: flex !important;
    align-items: center !important;
}

.modal-content {
    background-color:rgba(255,255,255,0) !important;
    border:none;
}

.modal-header {
    border-bottom: none !important;
}

.modal-header .close {
    padding: 0rem 1rem;
}

.modal-header button {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius:100%;
}

.modal-header button span {
    font-size: 1.8rem !important;
    line-height: 0 !important;
}

.modal-body {
    padding: 0 !important;
}

.modal-body img {
    border-radius: 8px;
}

body.modal-open {
    position:initial;
}