/* Back To Top */

#topProjectContainer {
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: auto;
    z-index: 1000;
    padding: 1.5em 2em 2em 2em;
}

#topProjectContainer a{
    text-decoration:none;
}

.addTopStyle {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-in-out .1s;
    -moz-transition: all 0.3s ease-in-out .1s;
    transition: all 0.3s ease-in-out .1s;
}

#topProjectHome {
    position: relative;
    float: left;
    width: fit-content;
    height: fit-content;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out .1s;
    -moz-transition: all 0.3s ease-in-out .1s;
    transition: all 0.3s ease-in-out .1s;
}

#topProjectHome h2, #topProject h2 {
    color: #a5a5a5;
    opacity: inherit;
    line-height: 2.2;
}

#topProjectHome a:hover:before {
    -webkit-transform: translate(-10%) scaleX(0.8);
    transform: translate(-10%) scaleX(0.8);
}

#topProjectHome a:before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #a5a5a5;
    bottom: 0;
    opacity: inherit;
    width: 100%;
    -webkit-transform: translate(-25%) scaleX(.5);
    transform: translate(-25%) scaleX(.5);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#topProject {
    position: relative;
    float: right;
    width: fit-content;
    height: fit-content;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out .1s;
    -moz-transition: all 0.3s ease-in-out .1s;
    transition: all 0.3s ease-in-out .1s;
}

#topProject a:hover:before {
    -webkit-transform: translate(-1.1em) scaleX(.75);
    transform: translate(-1.1em) scaleX(.75);
}

#topProject a:before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #a5a5a5;
    bottom: 0;
    opacity: inherit;
    width: 100%;
    -webkit-transform: translate(0) scaleX(.5);
    transform: translate(0) scaleX(.5);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* Project Header */
#projectHeader {
    margin-top: 70px;
}

#projectTitle {
    width: 100vw;
    margin-left: -15px;
}

#projectInfo {
    background-color: #f5f5f5;
    width: 100vw;
}

#projectHeaderMobileImg img {
    width: 100%;
    max-width: 300px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

#projectHeaderDesktopImg img {
    max-width: 800px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

/* Project Content */
.projectBackground {
    background-color: #f9f9f9;
    border-radius: .25rem !important;
}

.projectContentContainer img {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

figcaption {
    font-family: Avenir;
    font-weight: 400;
    line-height: 30px;
    color: #969696 !important;
}

.modal-dialog { /* For XL Screens */
    max-width: 50vw !important;
}
.modal-dialog button:hover{
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    color: #8F0E0E !important;
}

.projectContentContainer h5{
    color: #d0a047;
}

.projectContentContainer button {
    width: 100%;
}

.projectContentContainer button:hover {
    box-shadow: inset 800px 0 0 0 #8F0E0E !important;

}

/* Tab Carousel */
.projectContentContainer .projectCarousel {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: .25rem !important;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.projectCarousel .tab-content ul {
    padding-inline-start: 20px !important;
}

.projectCarousel .nav-pills .nav-link {
    text-decoration:none !important;
}

.projectCarousel .nav-pills .nav-link.active {
    background-color: #845857;
}

/* Image Carousel */
ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 100%;
    height: 4px;
    margin: 0 .5em;
    border-radius: 50em;
    border: 0;
    background: #845857;
}

ol.carousel-indicators li.active {
    background: #845857;
}



/* Footer */
#projectFooter{
    position:fixed;
    display:none;
    bottom: 0;
    z-index: -1;
    background-color: #845857;
}

#projectFooter h5{
    color: #E9E9E9;
}

#projectFooter a{
    color: #E9E9E9;
    text-decoration: underline;
}
#projectFooter a:hover{
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#projectFooter h3{
    color: #E9E9E9;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    /* Image Modal */
    .modal-dialog {
        max-width: 75vw !important;
    }
}

@media only screen and (max-width: 768px) {
    /* Image Modal */
    .modal-dialog {
        max-width: 95vw !important;
    }
    /* Header */
    #projectHeader {
        justify-content: center !important;
        text-align: center !important;
    }
    #projectTitle {
        justify-content: center !important;
    }
    #projectInfo {
        justify-content: center !important;
    }
    #projectHeaderMobileImg {
        width: 100vw;
    }
    #projectHeaderMobileImg img {
        max-width: 200px;
        width: 100%;
    }
    #projectHeaderDesktopImg {
        width: 100vw;
    }
    #projectHeaderDesktopImg img {
        max-width:400px;
        width: 100%;
        padding: 0 2em;
    }
    /* Project Info */
    .projectTOC {
        background-color: #f9f9f9;
        text-align: center !important;
    }
}