@viewport {
    zoom: 1.0;
    width: device-width;
}

/* Fonts */
/* Avenir Next */
@font-face {
    font-family: Avenir Next;
    font-weight: 400;
    src: url('../fonts/AvenirNext/AvenirNext-Regular.ttf');
}
@font-face {
    font-family: Avenir Next;
    src: url('../fonts/AvenirNext/AvenirNext-Medium.ttf');
    font-weight: 500;
    /* Medium */
}

body{
    height:100vh;
}

h1 {
    font-family: Avenir Next;
    font-weight: 500;
    font-size: 2em;

    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

p {
    font-family: Avenir Next;
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
}

a {
    text-decoration: none;
    color: #D24150 !important;

    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

a:hover {
    text-decoration: none;
    color: rgb(167, 50, 62) !important;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#container{
    width:100vw;
    height:100vh;
    padding:1em;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

/* Breakpoints */
@media only screen and (max-width: 600px) {
    h1 {
        font-size:1.5em !important;
        -webkit-transition: all 0.25s ease-in;
        transition: all 0.25s ease-in;
    }
}
@media only screen and (max-width: 400px) {
    h1 {
        font-size:1.25em !important;
        -webkit-transition: all 0.25s ease-in;
        transition: all 0.25s ease-in;
    }
}