html,body{
    width:100%;
    /* height:100%; */
    overflow-x:hidden;

    -webkit-transition: all 0.3s ease-in-out .1s;
    -moz-transition: all 0.3s ease-in-out .1s;
    transition: all 0.3s ease-in-out .1s;
}

.container, .container-fluid, .row, .col {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.remove-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/* Fonts Styles */

@font-face {
    font-family: Avenir;
    font-weight: 400;
    src: url('../fonts/Avenir-Book.ttf');
}
@font-face {
    font-family: Avenir;
    font-weight: 500;
    src: url('../fonts/Avenir-Medium.ttf');
}
@font-face {
    font-family: Avenir;
    font-weight: 600;
    src: url('../fonts/Avenir-Heavy.ttf');
}

@font-face {
    font-family: Athelas;
    font-weight: 400;
    src: url('../fonts/Athelas-Regular.ttf');
}
@font-face {
    font-family: Athelas;
    font-weight: 600;
    src: url('../fonts/Athelas-Bold.ttf');
}

h1 { /* Titles */
    font-family: Athelas;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;

    color: #222222;
}

h2 { /* Navigation Links */
    font-family: Athelas;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #222222;
}

h3 { /* Subtitles */
    font-family: Avenir;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .3px;

    color: #969696;
}

h4 { /* Big Paragraph */
    font-family: Avenir;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #222222;
}

h5 { /* Uppercase Heading */
    font-family: Avenir;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing:1.05px;

    color: #222222;
}

p,ul,ol { /* Body */
    font-family: Avenir;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #222222;
}

a {
    color: #b71212b5;
    font-weight:500;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: rgb(83, 8, 8);
    -webkit-transition: all 0.3s ease-in-out .1s;
    transition: all 0.3s ease-in-out .1s;
}

button {
    padding:.9em 1em .7em 1em;
    border:solid 2px;
    border-color: #b71212b5;
    border-radius: 5px;
    color:#b71212b5;
    background-color: rgba(0,0,0,0);

    box-shadow: inset 0 0 0 0 #b71212b5;
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;

    font-family:Avenir;
    font-size:.8em;
    font-weight:600;
    letter-spacing:.1em;
    cursor:pointer;
}

button:hover{
    box-shadow: inset 400px 0 0 0 #b71212b5;
    color: #FFFFFF !important;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    h1{
        font-size:22px;
        line-height:34px;
    }
    h2{
        font-size:16px;
        line-height:24px;
    }
    h3{
        font-size:16px;
        line-height:27px;
    }
    h4 {
        font-size: 20px;
        line-height: 30px;
    }
    p,ul,ol{
        font-size:14px;
        line-height:27px;
    }
}