.snippetbg {
    background-color: #ffcc92;
}

.coloredbg {
    background-color: #FEF9F3;
}

/* Header */
#header {
    background: rgb(254,249,243);
    background: linear-gradient(0deg, #ffcc92 0%, rgba(254,249,243,1) 44%, rgba(255,255,255,1) 100%);
}

#projectTitle h1 {
    color: #ce6d00;
}


/* Users */
#userTable td {
    border-radius:8px;
    width: 33.3333%;

    border: 1.5px black solid;
    background-color:#F9F9F9;
}

#users table {
    border-collapse: separate !important;
    border-spacing: 0.75em 0 !important;
}


/* Personas */
#personas .carousel-inner {
    border:solid #3a3a3a 1.5px;
    border-radius: 8px;
    background-color: #F9F9F9;
}

#personas .carousel-indicators {
    bottom: 0px;
}

#personas .carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius:50%;
    background-color: #2D1E0D;
    top: 0;
}

#personas svg {
    background-color: #F9F9F9;
}

/* Design Decisions */
#designDecisions table {
    background-color: #F9F9F9;
    border: solid #3a3a3a 1.5px;
    border-radius: 8px;
    border-collapse: separate !important;
}

#designDecisions .table thead th {
    border-bottom: none !important;
}

#designDecisions table td, th {
    border-top: none !important;
}

/* XSmall: up to 576px */
@media only screen and (max-width: 576px) {
    #users td {
        display:block;
        margin: 0.75em 0 !important;
        width:100%;
    }
}