@viewport{
    zoom: 1.0;
    width: device-width;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html, body {
    min-height: 100%;
    max-height:100%;
    text-align:center;
}

h2 {
	font-size:1.5em;
}

/* * * * * * * * BUTTONS * * * * * * */

button {
	cursor:pointer;
	width:175px;
	border:none;
	background:#2F5E53;
	padding:8px;

	font-family: 'Nunito', serif;
	font-weight:700;
	font-size:.75em;
	letter-spacing:.2em;
	color:white;

	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

button:hover {
	background-color:#21433B;
	color:#EEECE9;
}

button:active {
	box-shadow: inset 0 0 3px white;
}

/* * * * * * * * order of flex * * * * * * */
#one {
	display:flex;
  	align-items: center;
  	flex-direction:row-reverse;
}
#two {
	display:flex;
  	align-items: center;
}
#three {
	display:flex;
  	align-items: center;
	flex-direction:row-reverse;
}

/* * * * * FORMAT * * * */
.text {
	width:50%;
	text-align:center;
}
.img {
	width:50%;
}

#one,
#two,
#three,
img{
	width:100%;
}


.text {
	padding:5em;
}

/* * * * * * * RESPONSIVE * * * * * * */
/*** MEDIUM SCREEN ***/
@media screen and (max-width:800px){
	#one, #two, #three {
		display:block;
  		flex-direction:column;
  		transition:1s ease-in-out;
	}
	.text{
		width:100%;
		margin-bottom:2em;
		padding:2em;
		display:inline-block;
		transition:1s ease-in-out;
	}
	.img{
		width:100%;
		transition:1s ease-in-out;
	}
}