@viewport{
    zoom: 1.0;
    width: device-width;
}

html, body {
    min-height: 100%;
    max-height:100%;
    text-align:center;
}

h2 {
	font-size:1.5em;
}

h4 {
	font-weight:800;
	font-size:.8em;
	letter-spacing:.2em;
}

/* * * * * * * * BUTTONS * * * * * * */

.viewmore{
	margin:1em;
}

#cta {
	width:250px;
	background-color:#D27979;
}
#cta:hover {
	background:#D5AFAF;
	color:#424242;
}

button {
	cursor:pointer;
	width:175px;
	border:none;
	background:#424242;
	padding:8px;

	font-family: 'Nunito', serif;
	font-weight:700;
	font-size:.75em;
	letter-spacing:.2em;
	color:white;

	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

button:hover {
	background-color:black;
	color:grey;
}

button:active {
	box-shadow: inset 0 0 3px white;
}

/* * * * * * * * ONE * * * * * * */
#one {
	display:flex;
  	align-items: center;
  	flex-direction:row-reverse;
}
#one-text {
	width:50%;
	text-align:center;
}

#one h2, h4, p{
	max-width:48%;
	margin-left:25%;
}

#one-img{
	width:50%;
}
#one img{
	width:100%;
}

/* * * * * * * * TWO * * * * * * */
#two {
	display:flex;
  	align-items: center;
}

#two-text {
	max-width:50%;
	text-align:center;
}
#two h2, h4, p{
	max-width:48%;
	margin-left:25%;
}

#two-img{
	max-width:50%;
}
#two img{
	width:100%;
}

/* * * * * * * * THREE * * * * * * */
#three {
	display:flex;
  	align-items: center;
	flex-direction:row-reverse;
}

#three-text {
	width:50%;
	text-align:center;
}
#three h2, h4, p{
	max-width:48%; 
	margin-left:25%;
}

#three-img{
	max-width:50%;
}
#three img{
	width:100%;
}

/* * * * * * * RESPONSIVE * * * * * * */
/*** MEDIUM SCREEN ***/
@media screen and (max-width:800px){
	#one{
		display:block;
  		flex-direction:column;
	}
	#one-text{
		width:100%;
		margin-bottom:2em;
		display:inline-block;
	}
	#one-img{
		width:100%;
	}

	#two{
		display:block;
  		flex-direction:column;
	}
	#two-text{
		width:100%;
		margin-bottom:2em;
		display:inline-block;
	}
	#two-img{
		max-width:100%;
	}

	#three{
		display:block;
  		flex-direction:column;
	}
	#three-text{
		width:100%;
		margin-bottom:2em;
		display:inline-block;
	}
	#three-img{
		max-width:100%;
	}
}