/* Header */
#header-text-container {
    background-color: #648456;
    color: white;
}

#header-info-container {
    background-color: #FBFBFB;
}


/* design */
#design h2{
    text-align:center;
}
#design .content-side, #design .content-side-flip{
    justify-content: center;
    align-items: center;
}
#design .content-columns{
    text-align:center;
}

.summary{
    background-color:#8D6154;
    color:white;
}